@page
@model Web.Pages.Manage.LeaveMessages.LeaveMessageSetEdtModel
@{
}
<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">Phone Required<span class="red">*</span></label>
        <div class="layui-input-block">
            <input type="radio" name="PhoneRequire" value="0" title="No" @(Model.Model.PhoneRequire == 0 ? "checked" : "")>
            <input type="radio" name="PhoneRequire" value="1" title="Yes" @(Model.Model.PhoneRequire == 1 ? "checked" : "")>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Name Required<span class="red">*</span></label>
        <div class="layui-input-block">
            <input type="radio" name="NameRequire" value="0" title="No" @(Model.Model.NameRequire == 0 ? "checked" : "")>
            <input type="radio" name="NameRequire" value="1" title="Yes" @(Model.Model.NameRequire == 1 ? "checked" : "")>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Email Required<span class="red">*</span></label>
        <div class="layui-input-block">
            <input type="radio" name="EmailRequire" value="0" title="No" @(Model.Model.EmailRequire == 0 ? "checked" : "")>
            <input type="radio" name="EmailRequire" value="1" title="Yes" @(Model.Model.EmailRequire == 1 ? "checked" : "")>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Email<span class="red">*</span></label>
        <div class="layui-input-block">
            <input name="SystemEmail" class="layui-input" lay-verify="emailmsg|required" type="text" placeholder="Email" value="@Model.Model.SystemEmail">
        </div>
    </div>
    

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" class="layui-btn btn" id="layuiadmin-app-form-submit" value="Confirm Edit">
        </div>
    </div>
</div>   

<script>
    
    layui.config({
        base: '/js/layuiadmin/'
    }).extend({
        index: 'lib/index' 
    }).use(['index', 'form', 'layer'], function() {
        var $ = layui.$
            , form = layui.form;
        // Custom Prompt Format
        form.verify({
            emailmsg: function (value, item) { //value：Form Value, item: Form DOM Object
                if (value != "") {  //Validate Only When the Value is Not Empty
                    if (!/^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(value)) {
                        return 'Email Invalid Format';
                    }
                }
            }
        })
        form.on('submit(layuiadmin-app-form-submit)', function(data) {
            var field = data.field; //Retrieve Submitted Fields
            var index = parent.layer.getFrameIndex(window.name); //Get the Current iframe Layer Index
            var count = layer.load(1);
            $.ajax({
                url: "/api/LeaveMessageSet/Update",
                type: "post",
                async: false,
                data: {
                   ...field,
                    SetID:1
                        },
                success: function(datax) {
                    layer.close(count);
                    if (0 == datax.code) {
                        layer.msg(datax.msg, { time: 1000 }, function() {
                           location.reload()
                           layer.close(index)
                        });
                    } else {
                        layer.msg(datax.msg, {
                            icon: 2,
                            time: 3000 
                        }, function() {
                            layer.closeAll();
                        });
                    }
                },
                error: function(e) {
                    layer.closeAll();
                    alert("Error！！");
                }
            });
        });
    })
</script>