@page
@model IndexModel
@{
    Layout = "_IndexLayout";
}
<script src="~/js/swiper-bundle.min.js"></script>
<link href="~/css/swiper-bundle.min.css" rel="stylesheet" />


<!--Fade In/Out-->
<script src="js/wow.min.js"></script>

<style type="text/css">

    .swiper-button-next, .swiper-button-prev {
        color: #fff
    }

    .swiper-pagination-bullet {
        background-color: #fff;
    }

    .swiper-pagination-bullet-active {
        background-color: #fff;
    }

</style>

<!--Slideshow-->
<section>
    <div class="banner-box">
        <div class="banner">
            <div class="banner-box">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        @for (var i = 0; i < Model.ArticlesList.Count; i++)
                        {
                            var item = Model.ArticlesList[i];
                            <div class="swiper-slide swiper-slide-next" role="group" aria-label="@(i + 1) / @Model.ArticlesList.Count" data-swiper-slide-index="0" style="width: 1663px;">
                                <img src="@item.Image" alt="@item.ArticleTitle"><div class="container">
                                    <div class="row">
                                        <div class="slide-text  slide_style_right">
                                            <div class="banner_tu fl"></div>
                                            <div class="banner_wenzi fr">
                                                <div class="p1" data-animation="animated">@item.ArticleTitle</div>
                                                <div class="p2" data-animation="animated">@item.Articlekey</div>
                                                <p data-animation="animated">@item.ArticleDesn</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>

    </div>
</section>

<!--Products-->
<section class="section bgf7">
    <div class="container">
        <div class="service-title text-center section-bottom wow bounceInUp">
            <div class="p1">Better Management, Greater Achievements</div>
            <p2>Sunuer Manage: Manage Better, Achieve More.</p2>
        </div>
        <div class="row text-center wow bounceInUp" data-wow-delay="0.5s">
            <div class="service-con col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="https://www.sunuer.com/sunuermanage" title="Website Management Backend">
                    <div class="service-tu">
                        <span class="icon">
                            <i>
                                <img src="/images/ser01.png" alt="Website Management Backend" />
                            </i><i><img src="/images/ser011.png" alt="Website Management Backend" /></i>
                        </span>
                    </div>
                    <div class="service-name">
                        <h1><div class="p1"> Management</div></h1>
                        <span>Website Management</span>
                    </div>
                </a>
            </div>
            <div class="service-con col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="https://www.sunuer.com/sunuermanage" title="App Backend">
                    <div class="service-tu">
                        <span class="icon">
                            <i>
                                <img src="images/ser02.png" alt="App Backend" />
                            </i><i><img src="images/ser021.png" alt="App Backend" /></i>
                        </span>
                    </div>
                    <div class="service-name">
                        <div class="p1">App Backend</div>
                        <span>App Backend System</span>
                    </div>
                </a>
            </div>
            <div class="service-con col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="https://www.sunuer.com/sunuereasy" title="Sunuer Easy">
                    <div class="service-tu">
                        <span class="icon">
                            <i>
                                <img src="images/ser03.png" alt="Sunuer Easy" />
                            </i><i><img src="images/ser031.png" alt="Sunuer Easy" /></i>
                        </span>
                    </div>
                    <div class="service-name">
                        <div class="p1">Sunuer Easy</div>
                        <span>Code Generation Tool</span>
                    </div>
                </a>
            </div>
            <div class="service-con col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="https://www.sunuer.com/sunuermanage" title="Customer Relationship">
                    <div class="service-tu">
                        <span class="icon">
                            <i>
                                <img src="images/ser04.png" alt="Customer Relationship Management System" />
                            </i><i><img src="images/ser041.png" alt=" System" /></i>
                        </span>
                    </div>
                    <div class="service-name">
                        <div class="p1">CRM</div>
                        <span>Customer Relationship</span>
                    </div>
                </a>
            </div>
            <div class="service-con col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="https://www.sunuer.com/sunuermanage" title="Office Automation System">
                    <div class="service-tu">
                        <span class="icon">
                            <i>
                                <img src="images/ser05.png" alt="Office Automation System" />
                            </i><i><img src="images/ser051.png" alt="Office Automation System" /></i>
                        </span>
                    </div>
                    <div class="service-name">
                        <h1><div class="p1">OA</div></h1>
                        <span>Office Automation System</span>
                    </div>
                </a>
            </div>
            <div class="service-con col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="https://www.sunuer.com/sunuermanage" title="MES System">
                    <div class="service-tu">
                        <span class="icon">
                            <i>
                                <img src="images/ser06.png" alt="MES System" />
                            </i><i><img src="images/ser061.png" alt="MES System" /></i>
                        </span>
                    </div>
                    <div class="service-name">
                        <h1><div class="p1">MES System</div></h1>
                        <span>MES System</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!--Cases--!>
    <section class="section-top section-bottom">
        <div class="container">
            <div class="service-title text-center section-bottom wow bounceInUp">
                <div class="p1">Cross-platform management system, one-click to start an efficient development journey</div>
                <div class="p2"><h2>Save time, reduce repetitive work, and easily create core solutions for both enterprise-level and personal applications.</h2></div>
                <a href="Cases" class="btn-cases">More Cases</a>
            </div>
               <div class="row wow bounceInUp" data-wow-delay="0.5s">
            @for (var i = 0; i < Model.CaseList.Count; i++)
            {
                var item = Model.CaseList[i];
                            <div class="case-con col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                <div class="case-con-list">
                            <div class="case-tu">
                                    <div class="case-tu-img"><a href="newsview?ArticleID=@item.ArticleID" title="@item.ArticleTitle" target="_blank"><img src="@item.Image" alt="@item.ArticleTitle"></a></div>
                                        <div class="overlay"><div class="overlay1"><a href="newsview?ArticleID=@item.ArticleID">ViewDetails</a></div></div>
                                 </div>
                                             <div class="case-name"><div class="p1"><a href="newsview?ArticleID=@item.ArticleID" title="@item.ArticleTitle" target="_blank">@item.ArticleTitle</a></div><span>@item.ArticleDesn</span></div></div>
                        </div>
            }
        </div>
    </section>
    <section class="section-top section-bottom bg-blue">
        <div class="container">
            <div class="service-title color-fff section-bottom text-center  wow bounceInUp">
                <div class="p1">What problems can we solve for you?</div>
                <div class="p2">Our services give you peace of mind, making your work twice as efficient with half the effort.</div>
            </div>
            <div class="row text-center  wow bounceInUp" data-wow-delay="0.5s">
                <div class="problem col-lg-3 col-md-6 col-sm-6">
                    <div class="problem-tu">
                        <span class="icon">
                            <i>
                                <img src="images/problem01.png" alt="Optimize business management processes" />
                            </i><i><img src="images/problem011.png" alt="Optimize business management processes" /></i>
                        </span>
                    </div>
                    <div class="problem-name">
                        <div class="p1">Optimize business</div>
                        <span>By using an efficient backend management system, simplify various management operations, allowing managers to easily oversee tasks and improve...</span>
                    </div>
                </div>
                <div class="problem col-lg-3 col-md-6 col-sm-6">
                    <div class="problem-tu">
                        <span class="icon">
                            <i>
                                <img src="images/problem02.png" alt="Help businesses seek commercial partnerships" />
                            </i><i><img src="images/problem021.png" alt="Seek commercial partnerships" /></i>
                        </span>
                    </div>
                    <div class="problem-name">
                        <div class="p1">Cross-platform support</div>
                        <span>Whether on Windows or Unix systems, Sunuer Manage runs smoothly, ensuring stable usage in different enterprise environments and reducing IT management costs.</span>
                    </div>
                </div>
                <div class="problem col-lg-3 col-md-6 col-sm-6">
                    <div class="problem-tu">
                        <span class="icon">
                            <i>
                                <img src="images/problem04.png" alt="User-friendly interface" />
                            </i><i><img src="images/problem041.png" alt="User-friendly interface" /></i>
                        </span>
                    </div>
                    <div class="problem-name">
                        <div class="p1">User-friendly interface</div>
                        <span>
                            With a simple and intuitive interface design, users can quickly start operations with minimal learning effort, even those without technical expertise, improving system usability.
                        </span>
                    </div>
                </div>
                <div class="problem col-lg-3 col-md-6 col-sm-6">
                    <div class="problem-tu">
                        <span class="icon">
                            <i>
                                <img src="images/problem03.png" alt="Modular design" />
                            </i><i><img src="images/problem031.png" alt="Modular design" /></i>
                        </span>
                    </div>
                    <div class="problem-name">
                        <div class="p1">Modular design</div>
                        <span>The system includes multiple flexible modules such as permissions management, role management, and more, allowing for adaptable configuration to fit various business scenarios.</span>
                    </div>
                </div>
                <div class="problem col-lg-3 col-md-6 col-sm-6">
                    <div class="problem-tu">
                        <span class="icon">
                            <i>
                                <img src="images/problem05.png" alt="Custom functionality extension" />
                            </i><i><img src="images/problem051.png" alt="Custom functionality extension" /></i>
                        </span>
                    </div>
                    <div class="problem-name">
                        <div class="p1">Custom functionality extension</div>
                        <span>
                           Providing powerful custom features, users can freely extend the system based on specific needs, supporting rapid customized development to meet the diverse needs of enterprises.
                        </span>
                    </div>
                </div>
                <div class="problem col-lg-3 col-md-6 col-sm-6">
                    <div class="problem-tu">
                        <span class="icon">
                            <i>
                                <img src="images/problem06.png" alt="Website construction security" />
                            </i><i><img src="images/problem061.png" alt="Website code scanning" /></i>
                        </span>
                    </div>
                    <div class="problem-name">
                        <div class="p1">Data Security Assurance</div>
                        <span>
                            Utilizing advanced security technologies and permission control mechanisms to ensure enterprise data security, preventing unauthorized access or data breaches.
                        </span>
                    </div>
                </div>
                <div class="problem col-lg-3 col-md-6 col-sm-6">
                    <div class="problem-tu">
                        <span class="icon">
                            <i>
                                <img src="images/problem07.png" alt="Efficient Permission and Role Management" />
                            </i><i><img src="images/problem071.png" alt="Efficient Permission and Role Management" /></i>
                        </span>
                    </div>
                    <div class="problem-name">
                        <div class="p1">Efficient Permission and Role Management</div>
                        <span>
                            A flexible permission allocation mechanism and role management function that allows precise control over user operation permissions, ensuring both data security and management accuracy.
                        </span>
                    </div>
                </div>
                <div class="problem col-lg-3 col-md-6 col-sm-6">
                    <div class="problem-tu">
                        <span class="icon">
                            <i>
                                <img src="images/problem08.png" alt="Continuous Updates and Optimization" />
                            </i><i><img src="images/problem081.png" alt="Continuous Updates and Optimization" /></i>
                        </span>
                    </div>
                    <div class="problem-name">
                        <div class="p1">Continuous Updates and Optimization</div>
                        <span>
                           Sunuer Manage will continuously update its features and optimize performance to adapt to the latest industry demands and technological advancements.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bgf7">
        <div class="container">
            <div class="service-title text-center section-bottom wow bounceInUp">
                <div class="p1">Professional Insights into the Internet</div>
                <div class="p2">Years of dedication, rich experience</div>
            </div>
            <div class="row">
            <div class="new col-lg-4 col-md-4 col-sm-4 col-xs-12 wow bounceInUp" data-wow-delay="0.5s">
                @if (Model.NewsList5?.Count > 0)
                {
                    var firstItem = Model.NewsList5[0];
    <div class="new-tu">
        <a href="newsview?ArticleID=@firstItem.ArticleID" title="@firstItem.ArticleTitle">
            <img src="@firstItem.Image" alt="@firstItem.ArticleTitle">
        </a>
    </div>
    <div class="new-title">
        <span class="pull-left">@firstItem.BigTitle</span>
        <a href="News?nid=@firstItem.BigID" class="pull-right" title="More @firstItem.BigTitle">More+</a>
    </div>

    <!-- Upcoming News List -->
    <div class="new-list">
        <ul>
                            @for (var i = 1; i < Model.NewsList5.Count; i++) // Start from the second news item
                            {
                                var item = Model.NewsList5[i];
                <li>
                    <a href="newsview?ArticleID=@item.ArticleID" title="@item.ArticleTitle">
                        <span>@item.ReleaseTime.ToString("yyyy-MM-dd")</span> @item.ArticleTitle
                    </a>
                </li>
                            }
        </ul>
    </div>
                }
</div>

<div class="new col-lg-4 col-md-4 col-sm-4 col-xs-12 wow bounceInUp" data-wow-delay="0.8s">
                @if (Model.NewsList6?.Count > 0)
                {
                    var firstItem = Model.NewsList6[0];
        <!--  Special layout for the first news item -->
        <div class="new-tu">
            <a href="newsview?ArticleID=@firstItem.ArticleID" title="@firstItem.ArticleTitle">
                <img src="@firstItem.Image" alt="@firstItem.ArticleTitle">
            </a>
        </div>
        <div class="new-title">
            <span class="pull-left">@firstItem.BigTitle</span>
            <a href="News?nid=@firstItem.BigID" class="pull-right" title="More @firstItem.BigTitle">More+</a>
        </div>

        <!-- Upcoming News List -->
        <div class="new-list">
            <ul>
                            @for (var i = 1; i < Model.NewsList6.Count; i++) // Start from the second news item
                            {
                                var item = Model.NewsList6[i];
                    <li>
                        <a href="newsview?ArticleID=@item.ArticleID" title="@item.ArticleTitle">
                            <span>@item.ReleaseTime.ToString("yyyy-MM-dd")</span> @item.ArticleTitle
                        </a>
                    </li>
                            }
            </ul>
        </div>
                }
</div>

<div class="new col-lg-4 col-md-4 col-sm-4 col-xs-12 wow bounceInUp" data-wow-delay="1.1s">
                @if (Model.NewsList4?.Count > 0)
                {
                    var firstItem = Model.NewsList4[0];
        <!--  Special layout for the first news item -->
        <div class="new-tu">
            <a href="newsview?ArticleID=@firstItem.ArticleID" title="@firstItem.ArticleTitle">
                <img src="@firstItem.Image" alt="@firstItem.ArticleTitle">
            </a>
        </div>
        <div class="new-title">
            <span class="pull-left">@firstItem.BigTitle</span>
            <a href="News?nid=@firstItem.BigID" class="pull-right" title="More @firstItem.BigTitle">More+</a>
        </div>

        <!-- Upcoming News List -->
        <div class="new-list">
            <ul>
                            @for (var i = 1; i < Model.NewsList4.Count; i++) // Start from the second news item
                            {
                                var item = Model.NewsList4[i];
                    <li>
                        <a href="newsview?ArticleID=@item.ArticleID" title="@item.ArticleTitle">
                            <span>@item.ReleaseTime.ToString("yyyy-MM-dd")</span> @item.ArticleTitle
                        </a>
                    </li>
                            }
            </ul>
        </div>
                }
</div>
                    </div>
                </div>
            </section>


<!--banner-->

<script>
    var swiper = new Swiper(".mySwiper", {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        }, pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        loop: true, // Loop Mode Options
        speed: 500,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
    });
    $(function() {
        $(".nav-menu li a[title=Home]").addClass("Underline");
    })
</script>
